/**
* fim: [pdf] new stylesheet for phantomjs rendered pdf
*/

/**
 * Set correct size
 */
body {
    zoom:0.7;
    color: black;
    background: white;
}

svg {
    zoom: 1.1;
}

/**
* Hide some styles or elements
*/
.noprint, .submit {
    visibility: hidden;
    display: none;
}

div.questionPrintview {
    border: none;
}

@media print {
    .pageBreakBefore {page-break-before: always;}
}
