<h2>{TXT_PARTICIPANT}</h2>
<table class="table">
    <tbody>
    <!-- BEGIN data_row -->
    <tr class="table-striped">
        <td class="">{LABEL}&nbsp;</td>
        <td class="">{CONTENT}&nbsp;</td>
    </tr>
    <!-- END data_row -->
    </tbody>
</table>

<div class="pageBreakBefore">

    <h2>{TXT_PASS_OVERVIEW}</h2>
    <p>{TXT_PASS_FINISH_DATE}: {PASS_FINISH_DATE}</p>

    <table class="table">
        <thead>
        <tr>
            <th>{TXT_SEQUENCE}</th>
            <th>{TXT_QUESTION_ID}</th>
            <th>{TXT_QUESTION_TITLE}</th>
            <th>{TXT_ANSWERED}</th>
            <th>{TXT_MAX_POINTS}</th>
            <th>{TXT_REACHED_POINTS}</th>
            <th>{TXT_REACHED_PERCENT}</th>
            <th>{TXT_MANUAL}</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN question_row -->
        <tr class="table-striped">
            <td>{SEQUENCE}</td>
            <td>{QUESTION_ID}</td>
            <td>{QUESTION_TITLE}</td>
            <td>{ANSWERED}</td>
            <td>{MAX_POINTS}</td>
            <td>{REACHED_POINTS}</td>
            <td>{REACHED_PERCENT}</td>
            <td>{MANUAL}</td>
        </tr>
        <!-- END question_row -->
        </tbody>
    </table>
</div>


<!-- BEGIN question_detail -->
<div class="pageBreakBefore">
    <h2>{SEQUENCE}. {QUESTION_TITLE} [{QUESTION_ID}]</h2>
    {TXT_REACHED_POINTS}: {REACHED_POINTS_OF} {TXT_IS_MANUAL}

    <h3>{TXT_GIVEN_ANSWER}</h3>
    {HTML_ANSWER}

    <h3>{TXT_BEST_SOLUTION}</h3>
    {HTML_SOLUTION}

    <!-- BEGIN manual_feedback -->
    <h3>{TXT_MANUAL_FEEDBACK}</h3>
    {HTML_MANUAL_FEEDBACK}
    <!-- END manual_feedback -->
</div>
<!-- END question_detail -->
