<style>

/* delos */
DELOS_STYLE

/* Use variables without curly braces */

/**
 * Set correct size
 */
body {
    zoom: BODY_ZOOM;
    color: black;
    background: white;
}

/**
* Hide some styles or elements
*/
.noprint, .submit {
    visibility: hidden;
    display: none;
}

div.questionPrintview {
    border: none;
}

audio::before {
    position: absolute;
    content: "Audio";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(templates/default/images/media_placeholder.png);
}

video::before {
    position: absolute;
    content: "Video";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(templates/default/images/media_placeholder.png);
}

div.ilLimitedMediaPlayer iframe {
    display: none;
}

div.ilLimitedMediaPlayer::before {
    content: "Limited Audio";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(templates/default/images/media_placeholder.png);
}

/**
 *  Taken from delos.css
 */

div.ilc_answers.answer-table div.ilc_qanswer_Answer {
    display: table-row;
}

div.ilc_answers.answer-table div.ilc_qanswer_Answer > div {
    display: table-cell;
}

div.ilc_question_SingleChoice .answertext > p, div.ilc_question_MultipleChoice .answertext > p {
    margin: 0 !important;
}

div.ilc_question_SingleChoice .ilc_qanswer_Answer > div:first-child,
div.ilc_question_MultipleChoice .ilc_qanswer_Answer > div:first-child {
    padding-right: 10px;
}


@media print {
    .pageBreakBefore {page-break-before: always;}

    h2 {border: none;}
}

/* test_pdf */
TEST_PDF_STYLE
</style>
