<h2>{TXT_TEST_ARCHIVE}</h2>

<ul>
    <li><a href="settings.html">{TXT_SETTINGS_HTML}</a></li>
    <!-- BEGIN examination_protocol -->
    <li><a href="examination_protocol.html">{TXT_EXAMINATION_PROTOCOL_HTML}</a></li>
    <!-- END examination_protocol -->
    <!-- BEGIN test_log -->
    <li><a href="testlog.html">{TXT_TEST_LOG_HTML}</a></li>
    <li><a href="testlog.csv">{TXT_TEST_LOG_CSV}</a></li>
    <!-- END test_log -->
    <!-- BEGIN questions -->
    <li><a href="questions.html">{TXT_QUESTIONS_HTML}</a></li>
    <li><a href="questions.csv">{TXT_QUESTIONS_CSV}</a></li>
    <!-- END questions -->
    <!-- BEGIN participants -->
    <li><a href="participants.html">{TXT_PARTICIPANTS_HTML}</a></li>
    <li><a href="participants.csv">{TXT_PARTICIPANTS_CSV}</a></li>
    <!-- END participants -->
</ul>

{TXT_GENERATED} {VAL_GENERATED}