<style>

/* Use variables without curly braces */

/**
 * Set correct size
 */
body {
    zoom: BODY_ZOOM;
    color: black;
    background: white;
}

/**
* Hide some styles or elements
*/
.noprint, .submit {
    visibility: hidden;
    display: none;
}

div.questionPrintview {
    border: none;
}

/**
 * Show student and best solution below each other
 */
.lcol, .rcol,
.participant.solution,
.rcol.solution {
    width: 100%;
    float: none;
    overflow-x: visible;
}
.rcol {
    margin-top: 1em;
}

@media print {
    .pageBreakBefore {page-break-before: always;}
}

</style>